<section class="container">
  <div class="success-box">
    <div class="content">
      <img src="assets\images\icon-success.svg" />
      <h5 class="text">Thanks for <span style="font-size: 2.8rem;">subscribing!</span></h5>
      <p class="para">
        A confirmation email has been sent to <b style="font-family: 'Roboto', sans-serif; font-weight: 700;">{{email}}</b>. Please open
        it and click the button inside to confirm your subscription.
      </p>
      <button routerLink="/" class="btn">Dismiss message</button>
    </div>
  </div>
</section>
